<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>
</head>
<body>
    

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/skill">Skills</a></li>
                <li><a href="/service">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    
      <!-- profile starts here  -->

      <div class="profile" id="aboutme">
        <img class="top-icon" src="./images/ico.png" alt="top laptop icon">
    <div class="profile-desc">
        <h1>I am a Front-End Web-Developer</h1>
        <p>Hi! My name is Sahel Sheikh. Welcome to my personal page that As an front-end developer with 1+ years of experience, I am passionate about creating engaging and user-friendly websites that provide seamless user experiences. With a strong foundation in HTML, CSS,Bootstrap and JavaScript, I have experience in building responsive websites that are optimized for various devices and platforms. I am proficient in using modern front-end frameworks such as React and I am constantly learning and adapting to new technologies Node.js,Express.Js,MongoDB and tools to improve my skills</p>
    </div>
    <img class="bottom-icon" src="./images/ico.png" alt="bottom laptop icon">
    
    
    </div>

    <!-- profile ends here  -->
</body>
</html>