<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skill</title>
</head>
<body>
    
    <navbar>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/skill">Skills</a></li>
                <li><a href="/service">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </navbar>
 <!-- Profesional Experince card Start here  -->

 <div class="work-experience col-6">

    <div class="card">
        <div class="card-icon">
         <img src="./images/experience.jpg" alt="icon img" style="width: 100px; border: 1px solid black; border-radius:50%;">
        </div>
        <div class="card-title">
         <h2>work-experience</h2>
        </div>
        <div class="card-desc">
         <ol>
            <li>
                <strong>I am a Front End Webdeveloper.</strong>
                01/01/2022-1-02-2023 <br>
                Boldia Degree Collage, Graduated 2022 <br>
                Dhaka,Bangladesh. <br>
            
            </li>
            <hr>
            <li>
                <strong>I am a Front End Webdeveloper.</strong>
                01/06/2022-1-02-2023 <br>
                FreeCodeCamp. <br>
                W3Schools<br>
                <a href="https://www.youtube.com/channel/UCd_8APf4P_IppeIMhtNzwYg">Visit my youtube Channel</a>
              
            </li>
        
         </ol>
        </div>
      </div>
    </div>



    <div class="skill col-6">

        <div class="card">
            <div class="card-icon">
             <img src="./images/webdevelopr.jpg" alt="icon img" style="width: 100px; border: 1px solid black; border-radius:50%;">
            </div>
            <div class="card-title"  id="skill">
             <h2>SKILLS</h2>
            </div>
            <div class="card-desc">
         
                <div class="skills-container">
                    <ul>
                        <li class="HTML">HTML</li>
                        <li class="CSS">CSS</li>
                        <li class="BOOTSTRAP">BOOTSTRAP</li>
                        <li class="JAVASCRIPT">JAVASCRIPT</li>
                        <li class="JQUERY">JQUERY</li>
                        <li class="NODE">NODE.JS</li>
                        <li class="EXPRESS">EXPRESS.JS</li>
                        <li class="GITHUB">GITHUB</li>
                        <li class="REACT">REACT.JS</li>
                        
                        
                      </ul>
                  </div>
            </div>
          </div>
        </div>
</div>


<!-- Profesional Experince card ends here  -->
</body>
</html>